.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    margin: 0;
}

.custom-h1 {
    font-family: 'Anton', sans-serif;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 5rem;
    color: #262699;
}

#floatingPassword {
    margin-top: 2rem;
}

.login-button {
    margin-top: 1rem; /* 원하는 공간크기에 따라 이 값을 조절하세요. */
}

.form-control.custom-input {
    width: 450px; /* 가로 폭을 원하는 크기로 조절하세요. */
}
